.inner-header {
padding-bottom: 25px;
}

.inner-header__title {
  margin-bottom: 35px;
}

.inner-header__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
