.main-hero {
  background-image: url("../img/background-secondary-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3F5E72;
}

.main-hero__image {
  margin: 0 auto;
  padding-top: 90px;
}
