.main-footer {
  padding-top: 29px;
  padding-bottom: 29px;
}
.main-footer__hashtag {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
