.review {
  padding: 36px 20px 24px;
}

.review-header {
  padding-bottom: 28px;
}

.review-header__title {
  margin-bottom: 24px;
}

.review-header__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
