.search-hotel {
  padding-top: 38px;
  padding-bottom: 49px;
}

.search-hotel__wrapper {
  padding-left: 30px;
  padding-right: 29px;
}

.search-hotel__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.search-hotel__description {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 32px;
}
